<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    />
    <!-- Bootstrap core CSS -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Material Design Bootstrap -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/css/mdb.min.css"
      rel="stylesheet"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!--Navbar -->
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark elegant-color-dark">
      <a class="navbar-brand" href="#">Monumento</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent-333"
        aria-controls="navbarSupportedContent-333"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="landmark">Guess the landmark</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              id="navbarDropdownMenuLink-333"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >Add/modify information
            </a>
            <div
              class="dropdown-menu dropdown-default"
              aria-labelledby="navbarDropdownMenuLink-333"
            >
              <a class="dropdown-item" href="#">Add a landmark</a>
              <a class="dropdown-item" href="#">Report a wrong prediction</a>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light">
              <i class="fab fa-google"></i>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              id="navbarDropdownMenuLink-333"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-user"></i>
            </a>
            <div
              class="dropdown-menu dropdown-menu-right dropdown-default"
              aria-labelledby="navbarDropdownMenuLink-333"
            >
              <a class="dropdown-item" href="#">Sign up</a>
              <a class="dropdown-item" href="#">Sign in</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js"></script>
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.css"
      type="text/css"
    />
    </style>
    <center>
      <div class="container my-5 py-5 z-depth-1">

 
        <!--Section: Content-->
        <section class="px-md-5 mx-md-5 dark-grey-text text-center text-lg-left">
    
          <!--Grid row-->
          <div class="row">
    
            <!--Grid column-->
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="">
    
              <h3 class="font-weight-bold">GOA TOURISM</h3>
    
              <p class="font-weight-bold">Explore Goa with Monumento</p>
    
              <p class="text-muted">Lying on the west coast, Goa is one of the smallest states in India
                known for its brilliant beaches, scrumptious food and Portuguese
                heritage. Panjim, the capital city located in the centre is
                well-connected with an international airport and roads and trains run
                from North to South part of Goa. With a coastline stretching for over
                100 kilometres, Goa has numerous beaches that attract millions of
                visitors. While Baga and Calangute are more popular among the Indian
                family crowd, Anjuna and Arambol draw a lot of foreign tourists. The
                beaches in South Goa are relatively lesser explored, but some of them
                like Agonda and Palolem are more beautiful. A former Portuguese colony,
                Goa also boasts of beautiful architecture from the colonial era with
                many churches and old-style bungalows. The people are quite friendly
                towards tourists and celebrate many festivals throughout the year. While
                the seafood is excellent, Goa has one of the best nightlife in the
                country with trendy bars, beach shacks, elegant cafes and many clubs and
                discotheques. Thanks to lower alcohol prices in the state, Goa is also
                great for younger tourists with relatively tighter pockets.</p>
    
              <a class="font-weight-bold" href="#" >Learn more<i class="fas fa-angle-right ml-2"></i></a>
    
            </div>
            <!--Grid column-->
    
          </div>
          <!--Grid row-->
    
    
        </section>
        <!--Section: Content-->
    
    
      </div>
      <h1 class="font-weight-bolder mt-5 mb-2 font-monospace"></h1>
      <h5 class="col-8">
        
      </h5>
    </center>
    <center>
      <h1 class="font-weight-bolder mt-4">Trending Places in Goa</h1
    </center>

    <div class="container my-5 z-depth-1">
      <!--Section: Content-->
      <section class="dark-grey-text">
        <div class="row pr-lg-5">
          <div class="col-md-7 mb-4">
            <div class="view">
              <img
                src="https://www.holidify.com/images/cmsuploads/compressed/shutterstock_1314723038_20190822145625.jpg"
                class="img-fluid"
                alt="smaple image"
              />
            </div>
          </div>
          <div class="col-md-5 d-flex align-items-center">
            <div>
              <h3 class="font-weight-bold mb-4">Calangute Beach</h3>

              <p>
                Situated 15 km from Panjim, Calangute Beach is the longest beach
                in North Goa, stretching from Candolim to Baga. Due to its sheer
                size and popularity, it is a hub for tourists and backpackers
                from all over the world.
              </p>

              <button type="button" class="btn btn-orange btn-rounded mx-0">
                View More
              </button>
            </div>
          </div>
        </div>
      </section>
      <!--Section: Content-->
    </div>
    <div class="container my-5 z-depth-1">
      <!--Section: Content-->
      <section class="dark-grey-text">
        <div class="row pr-lg-5">
          <div class="col-md-7 mb-4">
            <div class="view">
              <img
                src="https://www.holidify.com/images/cmsuploads/compressed/shutterstock_1073481062_20190822145857.jpg"
                class="img-fluid"
                alt="smaple image"
              />
            </div>
          </div>
          <div class="col-md-5 d-flex align-items-center">
            <div>
              <h3 class="font-weight-bold mb-4">Basilica of Bom Jesus</h3>

              <p>
                The Basilica of Bom Jesus church is one of a kind in India and
                is known for its exemplary baroque architecture. Built in the
                year 1594 and consecrated in 1605, the building of this church
                coincides with the beginning of Christianity in India. The
                church is located in Old Goa in Bainguinim about 10 km away from
                Panjim. The oldest church in Goa, Basilica of Bom Jesus holds
                the remains of St. Francis Xavier, a special friend of St.
                Ignatius Loyola with whom he founded the Society of Jesus
                (Jesuits). Even after 400 years, the remains are in a good
                condition and are taken out once every decade. A site with rich
                cultural and religious significance, the Basilica of Bom Jesus
                has been declared a World Heritage Site by UNESCO.
              </p>

              <button type="button" class="btn btn-orange btn-rounded mx-0">
                View More
              </button>
            </div>
          </div>
        </div>
      </section>
      <!--Section: Content-->
    </div>
    <div class="container my-5 z-depth-1">
      <!--Section: Content-->
      <section class="dark-grey-text">
        <div class="row pr-lg-5">
          <div class="col-md-7 mb-4">
            <div class="view">
              <img
                src="https://www.holidify.com/images/cmsuploads/compressed/shutterstock_307777376_20190822150057_20190822161317.jpg"
                class="img-fluid"
                alt="smaple image"
              />
            </div>
          </div>
          <div class="col-md-5 d-flex align-items-center">
            <div>
              <h3 class="font-weight-bold mb-4">Water Sports in Goa</h3>

              <p>
                Water Sports in Goa have always seen its fare share of excited
                tourists and adventure seekers. The beach capital of India
                enjoys a long and uninterrupted coastline with relatively calmer
                waves and even sea floors. While water sports in Goa can be
                enjoyed at any one of the beaches in the north or the south,
                they are more popular and draw huge crowds at Baga, Calangute,
                Benaulim, Candolim, and nearby beaches. While here, you can
                choose from a number of water sports activities such as
                kneeboarding, kite surfing, snorkelling, parasailing &
                paragliding, diving, kayaking and many more. If you prefer so,
                you can engage in your preferred activities through quite a few
                vendors of these water sports on the beach. Alternately, you can
                also engage in your favorite activities through a number of
                licensed water sports package operators such as Atlantis Water
                Sports, Aqua Sports Goa etc. The cost of these packages ranges
                between INR 2000 to 4000 or more, based on the activities
                chosen.
              </p>

              <button type="button" class="btn btn-orange btn-rounded mx-0">
                View More
              </button>
            </div>
          </div>
        </div>
      </section>
      <!--Section: Content-->
    </div>
    <center>
      <div id="map" style="width: 95vw; height: 90vh;"></div>
    </center>
    <script>
      mapboxgl.accessToken =
        "pk.eyJ1IjoicGJoMjMiLCJhIjoiY2s1cnNjbHp5MDZkNjNqbndvYW5xdDIzdyJ9.Dh-XUW7vQCaYouGNFPuHAQ";
      var map = new mapboxgl.Map({
        container: "map",
        style: "mapbox://styles/mapbox/streets-v11",
        center: [73.8503924, 15.5465097],
        zoom: 10
      });

      map.addControl(
        new MapboxDirections({
          accessToken: mapboxgl.accessToken
        }),
        "top-left"
      );
    </script>
    <!--/.Navbar -->
  </body>
</html>
